# MySQL Redis
spring:
  datasource:
    name: dev
    url: jdbc:mysql://116.62.205.252:3306/us_user_dev
    username: loren
    password: loren070941
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  redis:
    database: 0
    host: 116.62.205.252
    port: 6379
    password: loren070941
    jedis:
      pool:
        max-active: 8
        max-wait: 1
        max-idle: 8
        min-idle: 0
  rabbitmq:
    host: 116.62.205.252
    port: 5672
    username: dev
    password: loren070941

# Swagger
claudine:
  swagger:
    enabled: true
    title: User API
    description: User Microservice API
    version: 1.0.0
    author: Loren
    url: https://www.us.com/claudine/
    email: liangliangpro@outlook.com
    basePackage: com.us.user
    pathMapping: /
  datasource:
    user:
      master:
        node1:
          url: jdbc:mysql://116.62.205.252:3306/user_master_1
          username: loren
          password: EJ82fVcH3h!K
        node2:
          url: jdbc:mysql://116.62.205.252:3306/user_master_2
          username: loren
          password: EJ82fVcH3h!K2
      slave:
        node1:
          url: jdbc:mysql://116.62.205.252:3306/user_slave_1
          username: loren
          password: EJ82fVcH3h!K
        node2:
          url: jdbc:mysql://116.62.205.252:3306/user_slave_2
          username: loren
          password: EJ82fVcH3h!K
    order:
        master:
          node1:
            url: jdbc:mysql://116.62.205.252:3306/order_master_1
            username: loren
            password: EJ82fVcH3h!K
          node2:
            url: jdbc:mysql://116.62.205.252:3306/order_master_2
            username: loren
            password: EJ82fVcH3h!K2
        slave:
          node1:
            url: jdbc:mysql://116.62.205.252:3306/order_slave_1
            username: loren
            password: EJ82fVcH3h!K
          node2:
            url: jdbc:mysql://116.62.205.252:3306/order_slave_2
            username: loren
            password: EJ82fVcH3h!K

single:
  datasource:
    url: jdbc:mysql://116.62.205.252:3306/us_user_dev1
    username: loren
    password: EJ82fVcH3h!K

# Custom
config.code: 1001
config.name: dev
config.hobby: hobbyX, hobbyY



